<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar pelo titulo"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Todo List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let Todo of todo; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTodo(Todo, i)"
        >
          {{ Todo.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTodos()">
        Remover tudo
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTodo.id">
        <h4>Todo</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentTodo.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentTodo.description }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentTodo.published ? "Publicado" : "Pendente" }}
        </div>
  
        <a class="btn btn-success" routerLink="/todo/{{ currentTodo.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentTodo">
        <br />
        <p>Clique em uma tarefa...</p>
      </div>
    </div>
  </div>